<p>NSSC Color Filter Settings:</p>

<form method="POST" action="test">
    <div>
        <input type="range" id="low_h" name="low_h" min="0" max="180" value={{current_pos.low_h}}>
        <label for="low_h">Lower H - {{current_pos.low_h}}</label>
    </div>

    <div>
        <input type="range" id="low_s" name="low_s" min="0" max="255" value={{current_pos.low_s}}>
        <label for="low_s">Lower S - {{current_pos.low_s}}</label>
    </div>

    <div>
        <input type="range" id="low_v" name="low_v" min="0" max="255" value={{current_pos.low_v}}>
        <label for="low_v">Lower V - {{current_pos.low_v}}</label>
    </div>

    <div>
        <input type="range" id="high_h" name="high_h" min="0" max="180" value={{current_pos.high_h}}>
        <label for="high_h">Higher H - {{current_pos.high_h}}</label>
    </div>

    <div>
        <input type="range" id="high_s" name="high_s" min="0" max="255" value={{current_pos.high_s}}>
        <label for="high_s">Higher S - {{current_pos.high_s}}</label>
    </div>

    <div>
        <input type="range" id="high_v" name="high_v" min="0" max="255" value={{current_pos.high_v}}>
        <label for="high_v">Higher V - {{current_pos.high_v}}</label>
    </div>

    <input type="submit" value="submit" />
</form>