<html>
    <head></head>
    <body>
        <form method="POST" action="test">
            <input type="range" min="0" max="255" name="low_h" />
            <input type="range" min="0" max="255" name="low_s" />
            <input type="range" min="0" max="255" name="low_v" />
            <input type="range" min="0" max="255" name="high_h" />
            <input type="range" min="0" max="255" name="high_s" />
            <input type="range" min="0" max="255" name="high_v" />
            <input type="submit" value="submit" />
        </form>
    </body>
</html>