<meta name="viewport" content="width=device-width, initial-scale=1">

<p>NSSC Color Filter Settings:</p>

<form method="POST" action="send">
    <div>
        <input type="range" style="width: 400px;" id="low_h" name="low_h" min="0" max="180" value={{current_pos.low_h}}>
        <label for="low_h">Lower H - {{current_pos.low_h}}</label>
    </div>

    <div>
        <input type="range" style="width: 400px;" id="low_s" name="low_s" min="0" max="255" value={{current_pos.low_s}}>
        <label for="low_s">Lower S - {{current_pos.low_s}}</label>
    </div>

    <div>
        <input type="range" style="width: 400px;" id="low_v" name="low_v" min="0" max="255" value={{current_pos.low_v}}>
        <label for="low_v">Lower V - {{current_pos.low_v}}</label>
    </div>

    <div>
        <input type="range" style="width: 400px;" id="high_h" name="high_h" min="0" max="180" value={{current_pos.high_h}}>
        <label for="high_h">Higher H - {{current_pos.high_h}}</label>
    </div>

    <div>
        <input type="range" style="width: 400px;" id="high_s" name="high_s" min="0" max="255" value={{current_pos.high_s}}>
        <label for="high_s">Higher S - {{current_pos.high_s}}</label>
    </div>

    <div>
        <input type="range" style="width: 400px;" id="high_v" name="high_v" min="0" max="255" value={{current_pos.high_v}}>
        <label for="high_v">Higher V - {{current_pos.high_v}}</label>
    </div>

    <input type="submit" value="submit" />
</form>

<form method="POST" action="update">
    <input type="submit" value="update" />
</form>

<p>NSSC Camera Settings:</p>

<form method="POST" action="camera">
    <div>
        <input type="range" style="width: 400px;" id="gain" name="gain" min="0" max="25" value={{current_cam.gain}}>
        <label for="gain">Gain - {{current_cam.gain}}</label>
    </div>

    <div>
        <input type="range" style="width: 400px;" id="exposure" name="exposure" min="0" max="30000" value={{current_cam.exposure}}>
        <label for="exposure">Exposure - {{current_cam.exposure}}</label>
    </div>

    <input type="submit" value="submit" />
</form>